/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/cork.png);
    background-size: 50%;
    height: 100vh;
}

/* HEADER */
header {
    background-image: url(img/wall.png);
    background-size: 50%;
    height: 100px;
    text-align: center;
}

h1 {
    font-family: "Edu Tas Beginner", sans-serif;
    font-size: 60px;
    line-height: 100px;
}

/* MAIN */
#main-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.col-card {
    width: 250px;
}

.card {
    background-color: white;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);

}

.image {
    width: 100%;
    margin-bottom: 5px;
}

.date {
    font-family: "Edu Tas Beginner", sans-serif;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

.title {
    font-family: "Sometype Mono", monospace;
    display: block;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.pin {
    position: absolute;
    top: 6px;
    left: 50%;
    height: 25px;
    transform: translate(-50%, -50%);
}


/*********** OVERLAY ********/
#overlay {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

#btn {
    font-size: 16px;
    padding: 3px 6px 3px 6px;
}

.image-overlay{
    height: 600px;
    margin-top: 60px;
}


/*********************** HOVER **************************/
.card:hover .pin {
    display: none;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(10deg);
    transition: transform 500ms, box-shadow 500ms;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
}

#btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}


/************************ RESPONSIVE+++++++++++++++++++++*/

/* TABLET VERSION */
@media screen and (max-width: 768px) {

    body {
        background-size: 30%;
    }

    header {
        background-size: 30%;
    }

    #main-container {
        width: 90%;
    }
}

/* MOBILE VERSION */

@media screen and (max-width: 480px) {

    body {
        background-size: 20%;
    }

    header {
        background-size: 20%;
    }

    #main-container {
        width: 90%;
    }

}